DotNet/GenericWcfClient/ReferenceLibrary/Service References/ClientReference/ClientService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OneView.DataContracts.Entities.Rules" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OneView.DataContracts.Entities.Rules" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBusinessRuleAction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BusinessRuleAction" nillable="true" type="tns:BusinessRuleAction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBusinessRuleAction" nillable="true" type="tns:ArrayOfBusinessRuleAction" />
  <xs:complexType name="BusinessRuleAction">
    <xs:sequence>
      <xs:element minOccurs="0" name="Action" nillable="true" type="tns:BusinessAction" />
      <xs:element minOccurs="0" name="BusinessActionID" type="xs:long" />
      <xs:element minOccurs="0" name="BusinessRuleID" type="xs:long" />
      <xs:element minOccurs="0" name="Rule" nillable="true" type="tns:BusinessRule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessRuleAction" nillable="true" type="tns:BusinessRuleAction" />
  <xs:complexType name="BusinessAction">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusinessActionID" type="xs:long" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessAction" nillable="true" type="tns:BusinessAction" />
  <xs:complexType name="BusinessRule">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusinessRuleID" type="xs:long" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Domain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RuleActions" nillable="true" type="tns:ArrayOfBusinessRuleAction" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessRule" nillable="true" type="tns:BusinessRule" />
</xs:schema>