DotNet/GenericWcfClient/ReferenceLibrary/Service References/ClientReference/ClientService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OneView.DataContracts.Entities.Localisation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OneView.DataContracts.Entities.Localisation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ovbyod.azurewebsites.net/Service/ClientService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/OneView.DataContracts.Entities" />
  <xs:complexType name="LocalisedItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="LocalisableColumn" nillable="true" type="tns:LocalisableColumn" />
      <xs:element minOccurs="0" name="LocalisableColumnId" type="xs:long" />
      <xs:element minOccurs="0" name="LocalisedItemId" type="xs:long" />
      <xs:element minOccurs="0" name="LocalisedValues" nillable="true" type="tns:ArrayOfLocalisedValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocalisedItem" nillable="true" type="tns:LocalisedItem" />
  <xs:complexType name="LocalisableColumn">
    <xs:sequence>
      <xs:element minOccurs="0" name="LocalisableColumnId" type="xs:long" />
      <xs:element minOccurs="0" name="LocalisableColumnName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocalisableColumnType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocalisableTable" nillable="true" type="tns:LocalisableTable" />
      <xs:element minOccurs="0" name="LocalisableTableId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocalisableColumn" nillable="true" type="tns:LocalisableColumn" />
  <xs:complexType name="LocalisableTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="LocalisableTableId" type="xs:long" />
      <xs:element minOccurs="0" name="LocalisableTableName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocalisationGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowIdentifier" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocalisableTable" nillable="true" type="tns:LocalisableTable" />
  <xs:complexType name="ArrayOfLocalisedValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocalisedValue" nillable="true" type="tns:LocalisedValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocalisedValue" nillable="true" type="tns:ArrayOfLocalisedValue" />
  <xs:complexType name="LocalisedValue">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OneView.DataContracts.Entities" minOccurs="0" name="Culture" nillable="true" type="q1:Culture" />
      <xs:element minOccurs="0" name="CultureId" type="xs:long" />
      <xs:element minOccurs="0" name="LocalisedItem" nillable="true" type="tns:LocalisedItem" />
      <xs:element minOccurs="0" name="LocalisedItemId" type="xs:long" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocalisedValue" nillable="true" type="tns:LocalisedValue" />
</xs:schema>