DotNet/GenericWcfClient/ReferenceLibrary/Service References/ClientReference/ClientService23.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OneView.DataContracts.Entities.MealOrdering" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OneView.DataContracts.Entities.MealOrdering" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PatientMealOrderingStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="GuestOrderEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="GuestOrderMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptOut" type="xs:boolean" />
      <xs:element minOccurs="0" name="PatientAdmissionID" type="xs:long" />
      <xs:element minOccurs="0" name="PatientMealOrderingEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="PatientOrderingStatusMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientMealOrderingStatus" nillable="true" type="tns:PatientMealOrderingStatus" />
</xs:schema>