DotNet/GenericWcfClient/ReferenceLibrary/Service References/ClientReference/ClientService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OneView.DataContracts.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OneView.DataContracts.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Blob">
    <xs:sequence>
      <xs:element minOccurs="0" name="BlobData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="BlobID" type="xs:long" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IV" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="MimeType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Blob" nillable="true" type="tns:Blob" />
  <xs:complexType name="Culture">
    <xs:sequence>
      <xs:element minOccurs="0" name="CultureID" type="xs:long" />
      <xs:element minOccurs="0" name="CultureName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MappedLanguage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Order" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ShowCulturePartID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Culture" nillable="true" type="tns:Culture" />
  <xs:complexType name="Playlist">
    <xs:sequence>
      <xs:element minOccurs="0" name="LastUpdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LoopPlaylist" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlaylistId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Playlist" nillable="true" type="tns:Playlist" />
</xs:schema>